<pm-header theme="theme-light"></pm-header>

<section class="main">
    <div class="container">
        <div class="message">
            <h1>Hi<br>we are Slamby</h1>
            <p class="lead">Hard work, great team, gorgeous vision. Building the best data management products from the heart.</p>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Our vision</h2>
            <p class="lead">We are passionate in creating the best data processing solutions. Following our vision, we are working to become the biggest data processing center over Europe.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>From the begining</h2>
            <p class="lead">Slamby was started in 2011, and officially incorporated on 11th October 2013.</p>
            <p class="lead">Our first vision was to build a sophisticated, smart technology that by reading and understanding written text - can protect children from adult online content. Building the first machine-learning technology Slamby realized its capability to extend its market, providing improved data-processing solutions for industrial clients.</p>
           <p class="lead">In 2013 Slamby continued its RnD activity and built several products to international companies.</p>
           <p class="lead">In 2014 Slamby released its first machine learning solution for e-commerce market, it was called Slamby Classifier - the first truly language independent classification engine with high accuracy level.</p>
           <p class="lead">In 2015 Slamby became a significant global data processing solution provider, serving clients over 9 countries.</p>
           <p class="lead">In 2016 Slamby continued its expansion with increased RnD activity & product development. We changed our product development strategy, transforming our products into open-source, providing a wide range of free solutions that make us even better. Instead of providing a shared solution, we continue our developments creating the best personalized, dedicated data processing servers serving both cloud and on-premise needs as well.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Join us</h2>
            <p class="lead">We are looking for passionate talents. If you like to join us, please check our latest available positions, or schedule an appointment to meet the Team.</p>
            <p>
                <a href="mailto:jobs@slamby.com" class="btn btn-default btn-lg" angulartics2On="click" angularticsCategory="company-page" angularticsEvent="join-btn-pushed">Join</a>
            </p>
        </div>
    </div>
</div>