@import "common";

.main {
    background: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0, 0.5)), cdnUrl('/assets/images/company/team.jpg') 0 0 no-repeat;
    background-size: cover;
    margin-top: -50px;
    padding-top:400px;
    padding-bottom:50px;
    
    .message {
        @include make-md-column(6);
        @include make-xs-column(12);
        color:white;
        background-color: rgba(0,0,0,0.4);
    }
}