
<pm-header></pm-header>
<section class="qa">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-header">Frequently asked questions</h2>
      </div>
      <div class="col-md-6"><input type="search" #box (keyup)="search(box.value)" class="form-control" placeholder="Search for faq" /></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="item" template="ngFor let item of faqResult">
        <h2>{{item.question}}</h2>
        <p class="lead">{{item.answer}}</p>
      </div>
    </div>
  </div>
</section>