<div class="container">
    <div class="page-header">
        <h1>Partners</h1>
    </div>
</div>

<style>
    .thumbnail {
        height:150px;
    }
    .thumbnail img {
        padding:5%;
    }
    .thumbnail, .thumbnail:hover {
        text-decoration: none !important;
    }
</style>

<div class="container">
    <div class="wrapper">
        <div class="col-sm-3">
            <a href="http://www.microsoft.com" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/microsoft.png" class="img-responsive" />
                <div class="caption">
                    
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://business.ceu.edu" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/ceubs.jpg" class="img-responsive" />
                <div class="caption">
                    
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://tradehouse.hu" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/tradehouse_hun.png" class="img-responsive" />
                <div class="caption">
                    
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://icmaonline.org" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/icma_logo.jpg" class="img-responsive" />
                <div class="caption">
                   
                </div>
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-sm-3">
            <a href="http://ceedtech.eu" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/CEED_TECH-logo.png" class="img-responsive" />
                <div class="caption">

                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://fiware.org" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/logo_ce-en-pantone-hr.jpg" class="img-responsive" />
                <div class="caption">

                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://fiware.org" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/FIWARE logo.png" class="img-responsive" />
                <div class="caption">

                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://digitalfactory.com" target="_blank" class="thumbnail">
                <img src="/app/assets/images/partners/digital-factory-logo.png" class="img-responsive" />
                <div class="caption">

                </div>
            </a>
        </div>
    </div>
</div>