<div class="container">
    <div class="wrapper">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Getting Productivity<br />from Your Slamby Server</h1>
            <p class="lead">Integrated data management tool, dedicated for data-scientists and managers. Quick real-time data access, data-analysis and data-processing.</p>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="wrapper">
            <img class="img-responsive" src="https://developers.slamby.com/documents/TAU/v0.15.0/img/main.png" />
        </div>
    </div>
</section>

<style>
    #features span {
        margin-right:2em;
    }

    .thumbnail {
        border:none;
    }

    .tab-content {
        padding: 25px 0 0 0px !important;
    }

    .tab-content .container {
        
    }
</style>

<section id="features">
    <div class="container">
        <div class="wrapper">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Bult-in Functions</h1>
                <p class="lead">Check out the latest functions that makes your data management easily.</p>
            </div>
        </div>
        <div class="wrapper text-left">
            <div class="col-sm-12">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
                        <li role="presentation"><a href="#dataset-management" aria-controls="dataset-manaement" role="tab" data-toggle="tab">Dataset Management</a></li>
                        <li role="presentation"><a href="#document-management" aria-controls="document-management" role="tab" data-toggle="tab">Document Management</a></li>
                        <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
                        <li role="presentation"><a href="#processes" aria-controls="processes" role="tab" data-toggle="tab">Processes</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="padding:25px;">
                        <!--Basics-->
                        <div role="tabpanel" class="tab-pane active" id="basics">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-desktop fa-3x"></i>
                                            <div class="caption">
                                                <h2>Multiple Server Management</h2>
                                                <p>Register multiple server, select a server from your server list to work with. Custom user settings per server.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-magic fa-3x"></i>
                                            <div class="caption">
                                                <h2>Auto Update</h2>
                                                <p>Automated version cheker, Select the perfict TAU version to your server, list the available TAU versions, one click update.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-bolt fa-3x"></i>
                                            <div class="caption">
                                                <h2>Real Time Connection</h2>
                                                <p>Connect to your server real-time. Check your real-time data flow, create and use your data processing services.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-puzzle-piece fa-3x"></i>
                                            <div class="caption">
                                                <h2>Flexible Design</h2>
                                                <p>Built-in modular and tab oriented design. Split your window and design your custom working environment. Open your required sections in tabs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Dataset Management-->
                        <div role="tabpanel" class="tab-pane" id="dataset-management">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-tree fa-3x"></i>
                                            <div class="caption">
                                                <h2>Schema-free</h2>
                                                <p>Create datasets using schema-free JSON storage engine. Define your dataset by schema or sample document.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-upload fa-3x"></i>
                                            <div class="caption">
                                                <h2>Import</h2>
                                                <p>Built-in import functions. Import documents and tags from CSV or JSON format. Automated field matching &Aacute; bulk import. Custom bulk size settings.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-plus-square-o fa-3x"></i>
                                            <div class="caption">
                                                <h2>Create</h2>
                                                <p>One click dataset creation. Auto filled settings, and sample document templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-clone fa-3x"></i>
                                            <div class="caption">
                                                <h2>Clone</h2>
                                                <p>Right-click dataset clone option. Create a new dataset cloning the attributes of an existing one.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-pencil-square-o fa-3x"></i>
                                            <div class="caption">
                                                <h2>Rename</h2>
                                                <p>Rename a dataset by right-click option. Get instat access to a dataset, rename it freely.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-trash-o fa-3x"></i>
                                            <div class="caption">
                                                <h2>Remove</h2>
                                                <p>Right-click option. Remove a dataset easily. Use dataset for temporary data storing.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Document Management-->
                        <div role="tabpanel" class="tab-pane" id="document-management">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-pencil fa-3x"></i>
                                            <div class="caption">
                                                <h2>Add, List, Edit, Remove</h2>
                                                <p>Quick basic actions. Easily create new documents, list and filter them, edit or remove functions. Perfect for manual moderation or checking process.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-tags fa-3x"></i>
                                            <div class="caption">
                                                <h2>Dynamic Tag Management</h2>
                                                <p>Manage your tags or categories by datasets. Each dataset has a dedicated tag manager. Create or import tags, use built in filters. Create category tree by organizing tags into hierarchy.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-filter fa-3x"></i>
                                            <div class="caption">
                                                <h2>Field Filter</h2>
                                                <p>List the available fileds inside a dataset, and select the required ones to display. Great for displaying complex data objects, or big data.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-search-plus fa-3x"></i>
                                            <div class="caption">
                                                <h2>Search</h2>
                                                <p>Built-in filter options. Use tag filter - displaying taglist and filter options -, use logical expressions, field filters, or wildcards. Powerful search engine with scrolling capability.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-list-alt fa-3x"></i>
                                            <div class="caption">
                                                <h2>Bulk Actions</h2>
                                                <p>Bulk right click options. Select the required documents, and use bulk actions. Available options: remove, tag management (add, edit, remove), modificcation.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-crosshairs fa-3x"></i>
                                            <div class="caption">
                                                <h2>Sampling</h2>
                                                <p>Built-in statistical sampling function. Generate random document samples from the selected dataset. Available options: tag filtering, stratified sampling options, fix or dyanmic sampling sizing.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Services-->
                        <div role="tabpanel" class="tab-pane" id="services">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-plus-square-o fa-3x"></i>
                                            <div class="caption">
                                                <h2>Create</h2>
                                                <p>Create data processing service. Select the required type of service, provide the name and description of it. Using a service you can easily create smart solutions to process your data.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-list fa-3x"></i>
                                            <div class="caption">
                                                <h2>List</h2>
                                                <p>List and manage your available services. Create as many as you need. List and change settings easily.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-sitemap fa-3x"></i>
                                            <div class="caption">
                                                <h2>Alias</h2>
                                                <p>Use Alias to integrate a service into your process. Identify services by alias, update a service and change them by alias.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-magic fa-3x"></i>
                                            <div class="caption">
                                                <h2>Classifier Service</h2>
                                                <p>Powerful text classification service. Automated workflow, high accuracy, language independent. Specialized for e-commerce.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-magic fa-3x"></i>
                                            <div class="caption">
                                                <h2>PRC Service</h2>
                                                <p>Keyword extraction and match making service. Use PRC Service to build product recommendation modules, for SEO optimalization and automated duplicate checking.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Processes-->
                        <div role="tabpanel" class="tab-pane" id="processes">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-play-circle-o fa-3x"></i>
                                            <div class="caption">
                                                <h2>Start</h2>
                                                <p>Start a stopped process. When you need a reso</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-list fa-3x"></i>
                                            <div class="caption">
                                                <h2>List, Manage</h2>
                                                <p>List and manage the background processes. Each long-term action is organized into background process.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-stop-circle-o fa-3x"></i>
                                            <div class="caption">
                                                <h2>Stop</h2>
                                                <p>Use Alias to integrate a service into your process. Identify services by alias, update a service and change them by alias.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <i class="fa fa-download fa-3x"></i>
                                            <div class="caption">
                                                <h2>Download Files, Export</h2>
                                                <p>Use Alias to integrate a service into your process. Identify services by alias, update a service and change them by alias.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <style>
        #usecases {
            background-color: #5bc0de;
            padding: 10%;
        }

        #usecases p {
            color: white;
        }

        .carousel-control.right, .carousel-control.left {
            background-image: none !important;
        }

        .carousel-control {
            color: lightgrey;
        }

        .carousel-indicators {
            bottom: 0px;
        }

        .carousel-indicators li {
            border: 1px solid lightgrey !important;
        }

        .text-block {
            padding-top:3%;
        }
    </style>

    <section class="bg-primary" id="usecases">
        <div class="container">
            <div class="wrapper">
                <div class="col-md-5 text-block">
                    <h1>It was never that easy to build classifier service before.</h1>
                    <p class="lead">
                        Create as many classifier engine as you wish by a few clicks. Automize your e-commerce classification or moderation process.
                    </p>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <img class="img-responsive" src="https://developers.slamby.com/documents/TAU/v0.15.0/img/classifier_service_preparation.png" />
                </div>
            </div>
        </div>
    </section>

<section>
    <div class="container">
        <div class="wrapper">
            <div class="col-sm-6">
                <i class="fa fa-github fa-5x" aria-hidden="true"></i>
                <h2>Open-Source</h2>
                <p class="lead">TAU is available as an open-source projekt under Apache 2.0 licence, hosted on GitHub.</p>
                <a class="btn btn-default" href="https://github.com/slamby/slamby-tau" target="_blank">Check It</a>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-heart-o fa-5x" fa-5x aria-hidden="true"></i>
                <h2>Made with Love</h2>
                <p class="lead">Slamby TAU is one of our high priority "social" product. Every Slamby Team member is using, developing and improving TAU from the heart, to shape the best data management tool.</p>
                <a class="btn btn-default" href="/company">Check Slamby Team</a>
            </div>
        </div>
    </div>
</section>