.footer {
    text-align:left;
    border-top:1px solid #cacaca;
    padding-top: 25px;
    margin-top: 25px;
    background-color:#f3f3f3;

    ul {
        @include make-md-column(3);
        @include make-xs-column(3);

        list-style:none;
        font-size: $font-size-small;
        li.footer-list-header {
            color: #cacaca;
        }
        li a {
            color: $text-muted;
        }
    }

    .footer-closing {
        border-top: 1px solid #e9e9e9;
        padding: 5px;
        margin-top: 15px;
        color:$text-muted;
        font-size:$font-size-small;
        font-style:italic;
    }
}