a h1,h2,h3 {
    color: $text-color;
}

.navbar-submenu {
    background-color:transparent;
    border:none;
    border-bottom:1px solid #e6e6e6;
    
    li, a {
        color:black !important;
    }
}

.container {
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s; /* Firefox */
    -webkit-animation: fadein 0.3s; /* Safari and Chrome */
    -o-animation: fadein 0.3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}