@import "common";

.notFoundModule {
    text-align: center;
    .box {
        margin-top: 50px;
        .icon {
            i {
                font-size: 70px;
                font-weight: 100;
            }
        }
    }
}