<div class="container">
    <div class="page-header">
        <h1>Contact</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <address>
                <strong>Slamby-Semantics Ltd.</strong><br />
                Kassai Street 129.<br />
                Debrecen, 4028, Hungary.<br />
                <abbr title="Email">Email: </abbr>hello@slamby.com<br />
            </address>
            <address>
                <strong>Social Media</strong><br />
                <abbr title="Twitter">Twitter: </abbr><a href="https://Twitter.com/slambynews" target="_blank">Twitter.com/slambynews</a><br />
                <abbr title="Facebook">Facebook:</abbr><a href="https://Facebook.com/slambynews" target="_blank">Facebook.com/slambynews</a><br />
                <abbr title="YouTube Chanel">Youtube:</abbr><a href="https://Youtube.com/slambynews" target="_blank">Youtube.com/slambynews</a><br />
                <abbr title="Instagram Account">Instagram:</abbr><a href="https://Instagram.com/slambynews" target="_blank">Instagram.com/slambynews</a><br />
                <abbr title="Google+ Account">Google+:</abbr><a href="https://plus.google.com/+Slambynews" target="_blank">plus.google.com/+Slambynews</a><br />
            </address>
        </div>
    </div>
</div>