<section>
    <div class="container">
        <div class="wrapper wrapper-display1">
            <div class="col-sm-8 col-sm-offset-2">
                <img src="./app/assets/images/main_header.png" class="img-responsive" />
                <h1>Integrated Data Management</h1>
                <p class="lead">Improve your data managamenet by using world leading solution. Built-in data storing, data processing modules, automated text classification, automated matchmaking.</p>
                <p><a [routerLink]="['/product']" class="btn btn-default">Learn More</a></p>
            </div>
        </div>
        <hr />
    </div>
</section>

<section>
    <div class="container">
        <div class="wrapper window">
            <div class="col-xs-3">
                <a [routerLink]="['/api']">
                    <img src="./app/assets/images/product_header.png" class="img-responsive" />
                    <h3>Slamby API</h3>
                    <p>Check the latest Slamby Server functions, available data-management features.</p>
                </a>
            </div>
            <div class="col-xs-3">
                <a [routerLink]="['/community']">
                    <img src="./app/assets/images/community_header.png" class="img-responsive" />
                    <h3>Community</h3>
                    <p>Join and get the latest feature updates, share your ideas and be a part of the Slamby Community.</p>
                </a>
            </div>
            <div class="col-xs-3">
                <a [routerLink]="['/support']">
                    <img src="./app/assets/images/support_header.png" class="img-responsive" />
                    <h3>Support</h3>
                    <p>Get IT or professional support from Slamby. Report bugs, or get professional help.</p>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://developers.slamby.com">
                    <img src="./app/assets/images/product_header.png" class="img-responsive" />
                    <h3>Developers Site</h3>
                    <p>Detailed product documentation, training and tutorial videos, available product downloads.</p>
                </a>
            </div>
        </div>
    </div>
</section>