<nav [class.open]="isOpen">
    <div class="container">
        <a [routerLink]="['/']" (click)="closeMenu()">
            <img src="/app/assets/images/slamby-logo.png" class="navbar-brand" />
        </a>
        <i class="button fa fa-bars pull-right" (click)="clickMenu()"></i>
        <ul class="pull-right">
            <li>
                <a [routerLink]="['/api']" (click)="closeMenu()">Server</a>
            </li>
            <li>
                <a [routerLink]="['/tau']" (click)="closeMenu()">TAU</a>
            </li>
            <li>
                <a [routerLink]="['/api/pricing']" (click)="closeMenu()">Pricing</a>
            </li>
            <li>
                <a href="https://developers.slamby.com">For Developers</a>
            </li>
            <li>
                <a [routerLink]="['/community']" (click)="closeMenu()">Community</a>
            </li>
        </ul>
    </div>
</nav>