//Variables
$mobile-device-size: 800px;
$nav-background-color: #5bc0de;
$nav-speed: 321ms;

//General styles
nav {
    background-color: $nav-background-color;
    color: white;
    position: relative;
    height: 50px;
    ul li { padding: 1em 1em 1em 1em; }
    ul li a { color: white; padding:0; margin:0; }
    ul li a:hover {
        color:#337ab7;
        background-color: transparent;
        text-decoration: none;
    }
    ul li a:focus {
        background-color:transparent;
    }
    .button {
        padding:5px;
        cursor:pointer;
        font-size:21px;
        top:5px;
    }
}

//Mobile view
@media (max-width: $mobile-device-size+1) {
    nav {
        //display: none;
        position: relative;
        width: 100%;
        background-color: $nav-background-color;
        .button {margin-top:7px;}
        z-index:1000;
    }
    ul {
        height: 0px;
        position: fixed;
        //border-top:1px solid lightblue;
        display: block;
        top:50px;
        margin-left:0px;
        left:0px;
        padding-left:0px;
        width: 100%;
        -webkit-transition: height $nav-speed linear;
        -moz-transition: height $nav-speed linear;
        -ms-transition: height $nav-speed linear;
        -o-transition: height $nav-speed linear;
        transition: height $nav-speed linear;
        background-color: $nav-background-color;
        z-index: 1000;
        li {
            display: none;
            border-top:1px lightblue solid;
        }
    }

    nav.open {
        position: fixed;
        ul {
            display: block;
            position: fixed;
            top:41px;
            margin-top:9px;
            height: 100%;
            z-index:1000;
            li {
                display: block;
                margin:0;
                padding:0;
            }
            li a {
                opacity: 1;
                display: block;
                padding:2em;
                margin:0;
                font-size:14px;
                animation:fadeinmove 1s;
                @keyframes fadeinmove {
                    0% {opacity:0; padding:1.5em;}
                    100% {opacity:1; padding:2em;}
                }
                @-webkit-keyframes fadeinmove {
                    0% {opacity:0; padding:1.5em;}
                    100% {opacity:1; padding:2em;}
                }
            }
            li a:hover {
                background-color: lightblue;
                color:black;
            }
        }
    }
}

//Normal view
@media (min-width: $mobile-device-size) {
    ul li { display:inline-block; }
    nav .button { display: none; }
}