<pm-header></pm-header>

<div class="container">
    <legalMenu></legalMenu>
    <div class="body">
        <h1>Slamby Cloud Hosting Agreement</h1>
        <p class="lead">Terms and Conditions of Use</p>
        <h2>1. Preliminaries</h2>
        <p>concluded by and between on the one hand</p>
        <p>Slamby-Semantics Ltd. <br>
            company reg. number: 09-09-026237 <br>
            tax number: 24741024-2-09<br>
            international tax number: HU24741024</p>
        <p>Company headquarter: Hungary, 4028 Debrecen, Kassai street 129.<br>
            represented by: Mezei Peter Chief Executive Officer<br>
            as contractor (referred to as: Slamby) </p>
        <p>on the other hand,
            _______________________ <br>
            company reg. number: _______________ <br>
            tax number: _______________ <br>
            headquarter: ___________________ <br>
            represented by: _________________
        </p>
        <p>and its Affiliates, as customer (referred to as: Customer) based upon the following conditions:</p>
        <p>a. Slamby declares that it is a Hungarian business association registered in the territory of the Registration Court of the High Court of Justice of city Debrecen, and that is free from any contractual restriction.</p>
        <p>b. Customer declares that it is a(n) ……………. business association registered in the territory of ……………………, and that is free from any contractual restriction.</p>
        <p>c. The Parties’ representatives declare that they are authorized to sign this Agreement. At the same time, the Parties’ representatives also declare that the companies represented by them are not subject to bankruptcy or liquidation proceedings, or is not threatened with bankruptcy, liquidation or cancellation, nor have its members decided on winding up the company.</p>
        <p>d. Parties declare that Slamby is an innovative, information technology company and its main profile is software development.</p>
        <p>e. As part of its business operations, Customer wishes to use the software/service called Slamby API (developed by Slamby) and hosting service by Slamby. In regard to this, Parties agree that Slamby create and host a virtual server   with the latest Slamby API installed – making it accessible and gives the right of use to Customer, and Customer uses it under the conditions of this Agreement, for the determined fee of usage.)</p>
        <h2>2. Subject of the Agreement</h2>
        <p>a. Subject of this agreement: By signing this Agreement, Parties agree that Slamby shall provide to Customer the following services: Slamby API online hosting, technical support, server maintenance and Slamby API commercial license, and Customer shall pay to Slamby the fee of usage with the conditions detailed below.</p>
        <p>b. Parties declare that Slamby API (developed and prepared by Slamby) shall be made accessible at an online storage place (cloud) to Customer - as a service -, by Slamby. Customer acknowledges that it is not allowed to make copies, modify, decompile the software, or place it on any further hardware/data store, and it shall use properly and only under the conditions of this Agreement.</p>
        <p>c. Slamby provides the online accessibility of the user guide of the service at https://developers.slamby.com.</p>
        <p>d. The provided software remains the property of Slamby, Customer as a user, receives the right of use. Parties declare that Customer is not entitled to transfer the right of use to a third party neither for free nor for countervalue.</p>
        <p>e. Parties declare that the uploaded data on the Slamby API virtual server is the property of Customer.</p>
        <p>f. By signing this Agreement, Slamby accepts that – in order to ensure the proper use of the software – 24-hour technical support service to Customer, during which Slamby shall provide help in connection the hosting and virtual server technical parameters. Support covers just hosting technical issues. For available product support options check the available support options.</p>
        <p>g. For hosting related issues Slamby offers email support service at support@slamby.com.</p>
        <p>h. Parties declare that Slamby is not liable for the damages directly or indirectly caused by Microsoft Azure - as a cloud provider - that is used by Slamby.</p>
        <p>i. Slamby shall provide continuous service uptime with 95% service level agreement (sla).</p>
        <p>j. Slamby represents and warrants that the services provided herein shall be provided in a professional and workmanlike manner.</p>
        <h2>3. Terms of Agreement</h2>
        <p>a. Parties agree that this Agreement is concluded for unlimited period of time.</p>
        <p>b. Parties agree the term of notice for both Parties shall be 1 month.</p>
        <p>c. Parties agree that the requested virtual server parameters are the following: core number: ___, memory: ___ GB, storage size: ___ GB.</p>
        <p>d. The requested server is available under this URL: https://______________________</p>
        <h2>4. Fee of usage</h2>
        <p>a. Parties declare that Customer shall pay a fee of usage monthly, in advance for the use of the service (the subject of this Agreement) made accessible by Slamby.</p>
        <p>b. By paying the fee, Customer becomes entitled for services of hosting, hosting support and Slamby API license for a month.</p>
        <p>c. The monthly amount of fee is determined in ________ Euro  (Net) per month.</p>
        <p>d. Customer shall pay the fee within ten (10) days from the receipt of Slamby’s invoice to Slamby’s bank account: IBAN: HU22 1040 4436 5052 6648 6672 1004 </p>
        <p>e. In case of delay in payment, Customer shall pay interest for late payment at the rate of 2% of delayed fee per annum </p>
        <p>f. Should this Agreement does not make any exception, Slamby is entitled to suspend its performance without the legal consequences of violation, in case of the Customer’s delay exceeding 8 days, until the Customer will not fulfill its payment obligations. Should this Agreement does not make any exception, the Customer’s delay in payment that exceeds 15 days is regarded such a serious violation of the Agreement that Slamby is entitled to terminate the Agreement without any further notice.</p>
        <h2>5. Indemnification and limitation of liability</h2>
        <p>a. Slamby agrees to defend, indemnify and hold harmless Customer and its subsidiaries, affiliates, directors, officers, employees, shareholders and representatives from and against any losses, liabilities, penalties, costs and expenses including without limitation any reasonable attorney’s legal fees, any settlement amount or awarded damages arising out of any breach of representation or any third party claim, suit, or proceeding arising from or relating to any breach of this Agreement.</p>
        <h2>6. Contact persons:</h2>
        <p>During performance of the Agreement, Slamby shall be represented by:</p>
        <h2>7. Closing provisions</h2>
        <p>a. Parties declare that this Agreement shall enter into force when it is signed by both Parties.</p>
        <p>b. This Agreement shall be governed by, and interpreted in accordance with, the Hungarian substantive law (not including the conflict of law rules of the Hungarian private international law), therefore, particularly, the provisions of the Hungarian Civil Code (Act V of 2013).</p>
        <p>c. Parties hereto mutually commit themselves to endeavor to settle any legal disputes primarily by amicable reconciliation. Should reconciliation between the Parties remain ineffectual within 30 days of the initiation thereof by the aggrieved Party, the same party may turn to the court. Parties stipulate the exclusive jurisdiction and competence of the Debrecen District Court, or that of the High Court of Justice of Debrecen for cases falling within the competence of a high court of justice.</p>
        <p>d. Parties hereto mutually commit themselves to treat this Agreement as well as any and all information arising here from as confidential and shall not disclose the same to third parties without the prior written consent of the other Party, and shall not make such information available to third parties without the prior written consent of the other Party. Should any Party breach this obligation, is liable for any damage that was caused.</p>
        <p>e. In term of the purchased virtual machine technical parameters, pricing, company details and payment Slamby has the right to modify this agreement by email, clarifying the new details. In case of service condition updates Slamby must notify the Customer about the new details in email, 30 days before the updates.</p>
        <p>f. In terms this Agreement conditions can be modified by Slamby. In case of updates in condition Slamby creates and send an updated version to the Customer by email 10 days before it enters into force; Updates enter into force automatically once there is no  rejection by the customer.</p>
        <p>g. Should – during performance of the Agreement – it is revealed that any provision of this Agreement – partially of fully – is invalid, illegal, unenforceable or any provision turns into that – should Parties are able to replace this provision with a valid one – it does not affect the other provisions of the Agreement. Parties mutually agree that they initiate discussions to replace the invalid provision, and attempt to find a provision that suits the most with the purpose of the Agreement, and the Parties’ contracting wills. In case that the Agreement is partially and irreparably invalid, the whole Agreement shall be regarded as invalid, should the Parties would have not concluded it without the invalid provision.</p>
        <p>h. In witness whereof, the parties’ representatives after having read and interpreted this Agreement, signed it as fully binding, and corresponding to their will. Signers declare that they are authorized to sign this Agreement.</p>
        <p>Made in Debrecen, on the _________________________</p>
    </div>
</div>