<div class="menu">
    <div class="list-group">
        <a [routerLink]="['/legal/privacy-policy']" class="list-group-item">Privacy policy</a>
        <a [routerLink]="['/legal/commercial-license']" class="list-group-item">Commercial license</a>
        <a [routerLink]="['/legal/commercial-license-oem']" class="list-group-item">Commercial license (OEM)</a>
        <a [routerLink]="['/legal/open-source-license']" class="list-group-item">Open-source license</a>
        <a [routerLink]="['/legal/gnu-agpl-license']" class="list-group-item">GNU Affero General Public License</a>
    </div>
</div>