<pm-header></pm-header>

<div class="container">
    <legalMenu></legalMenu>
    <div class="body">
        <h1>Slamby API open-source software license</h1>
        <p class="lead">Slamby API is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License.</p>
        <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.</p>
        <p>You should have received a copy of the GNU Affero General Public License along with this program. If not, see http://www.gnu.org/licenses/agpl-3.0.html.</p>
        <h2>Commercial license</h2>
        <p class="lead">In addition to this license, Slamby API is offered under a commercial license. You can learn more about this option by contacting us at sales@slamby.com.</p>
    </div>
</div>