@import '~common.scss';

section {
    padding: 30px 0 30px 0;
}

// Main section
section.main {
    padding-top: 30px;
    .message {
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
        @include make-xs-column(12);

        text-align: center;
    }
}

// All in one section
section.all-in-one {
    .message, .image {
        @include make-sm-column(6);
        @include make-xs-column(12);
    }

    .api-illustration {
        padding: 20px 50px 20px 50px;

        $roundness: 5px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        text-align: center;

        .api {
            @include make-xs-column(12);
            background-color: darkred;
            border-top-left-radius: $roundness;
            border-top-right-radius: $roundness;
        }

        .ai-services {
            @include make-xs-column(3);
            background-color: darkslateblue;
        }

        .machine-learning {
            @include make-xs-column(3);
            background-color: darkslateblue;
        }

        .monitoring {
            @include make-xs-column(3);
            background-color: darkslateblue;
        }

        .document {
            @include make-xs-column(3);
            background-color: darkslateblue;
        }

        .redis {
            @include make-xs-column(6);
            background-color: darkgoldenrod;
        }

        .elastic-search {
            @include make-xs-column(6);
            background-color: dodgerblue;
        }

        .docker {
            @include make-xs-column(6);
            background-color: sandybrown;
        }

        .auto-update {
            @include make-xs-column(6);
            background-color: darkslategray;
        }

        .linux {
            @include make-xs-column(12);
            background-color: lightseagreen;
            border-bottom-left-radius: $roundness;
            border-bottom-right-radius: $roundness;
        }

        .item {
            display: block;
            padding: 25px 5px 0 5px;
            min-height: 80px;
            border: 1px solid white;
        }
    }
}

// SDK Section
section.sdk {
    .browser {
        
        $height: 600px;

        @include make-row();

        .left-menu {
            @include make-sm-column(2);
            @include make-xs-column(12);
            padding: 30px;
            font-size: 12px;
            color: darkslategray;

            ul {
                padding: 30px 0 0 15px;
                li {
                    list-style: none;
                    cursor: pointer;
                    padding: 10px;
                    font-size: 17px;
                }
                li.active {
                    background-color: #00bfb3;
                    color: white;
                }
            }
        }

        .header {
            @include make-sm-column(10);
            @include make-xs-column(11);
            
            margin-top: 30px;
            padding: 10px;
            line-height: 0;

            background: #ddd;
            height: 30px;

            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            span {
                $size: 11px;
                height: $size;
                width: $size;
                border-radius: $size;
                background-color: #eee;
                border: 1px solid #dadada;
                float: left;
                margin: 0 0 0 4px;
            }
        }

        .menu {
            @include make-xs-column(1);
            background-color: #f5f5f5;
            height: $height;
            padding: 30px;
            font-size: 12px;
            color: darkslategray;

            ul {
                padding: 0 0 0 15px;
                li {
                    list-style: none;
                    line-height: 20px;
                }
            }
        }

        .body {
            @include make-sm-column(9);
            @include make-xs-column(10);
            background-color: darkslategray;
            height: $height;
            // border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-color: 1px solid #dadada;

            pre {
                background-color: transparent;
                border: none;
                margin: 0;
                color: white;
                font-size: 12px;
                font-weight: 300;
                padding: 30px;
            }
            pre:first-of-type {
                line-height: 20px;
            }
        }
    }
}

section.out-of-the-box {
    .message {
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
        @include make-xs-column(12);
        text-align: center;

        a.btn.btn-default {
            $color: darkorange;
            background-color: $color;
            border-color: $color;
            padding: 10px 15px 10px 15px;
            color: white;
            font-weight: 400;
            font-size: 14px;
        }

        span {
            display: block;
            margin-top:5px;
        }
    }
}