@import "common";

section.main {
    margin-top:-50px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), cdnUrl('/assets/images/pricing/bg2.jpg');
    background-repeat: repeat;

    .body {
        @include make-row();
        .main-message {
            @include make-xs-column(12);
            @include make-sm-column(8);
            @include make-md-column(6);

            background-color: rgba(255,255,255,0.97);

            margin-top:13em;
            margin-bottom:9em;
        }
    }
}

.pricing {
    table td:first-of-type {
        text-transform: capitalize;
    }
    table td:last-of-type {
        font-weight: 500;
    }
}