<pm-header></pm-header>

<section class="main">
    <div class="container">
        <div class="body">
            <div class="main-message">
                <h1>45 € / core / month</h1>
                <p class="lead">Start using Slamby for a price of a cup of coffee per core. Use it as a SaaS or install it on your machine.</p>
                <p class="lead">No query limit, no memory limit</p>
                <p><a [routerLink]="['/getting-started']" class="btn btn-default btn-lg">Getting started</a></p>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Pricing</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Core pricing</h2>
        </div>
        <div class="col-md-6">
            ...
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Desciption</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 core lincese</td>
                        <td>unlimited memory, unlimited storage</td>
                        <td>45 € / processor core / month</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Support</h2>
        </div>
        <div class="col-md-6">
            <p class="lead">For professional use select one of our available support options based on the available communication channels and SLA.</p>
            <p class="lead">Currently, we have three type of support options. Each Slamby instance has a basic support option that includes community-based - forum support.</p>
            <p>Community support: <a href="https://groups.google.com/forum/#!forum/slamby" target="_blank">https://groups.google.com/forum/#!forum/slamby</a>
            </p>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Desciption</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Basic</td>
                        <td><a href="https://groups.google.com/forum/#!forum/slamby" target="_blank">Community only</a>, no SLA</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>Professional</td>
                        <td>Next workday, email</td>
                        <td>2000 € yearly / instance</td>
                    </tr>
                    <tr>
                        <td>Production</td>
                        <td>Instant developer and technical access, 5 hours SLA, email, skype, phone.</td>
                        <td>6000 € yearly / instance</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container pricing">
    <div class="row">
        <div class="col-md-12">
            <h2>Cloud based pricing (SaaS)</h2>
            <h3>European</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="hidden-xs hidden-sm">Tier</th>
                        <th>Core</th>
                        <th>Memory</th>
                        <th class="hidden-xs">Storage</th>
                        <th class="hidden-xs hidden-sm">Wholesale</th>
                        <th class="hidden-xs hidden-sm">Technical Fee</th>
                        <th class="hidden-xs hidden-sm">License Fee</th>
                        <th>Reatil Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pricingEurope">
                        <td>{{item.name}}</td>
                        <td class="hidden-xs hidden-sm">{{item.tier}}</td>
                        <td>{{item.core}}</td>
                        <td>{{item.memory}} GB</td>
                        <td class="hidden-xs">{{item.storage}} GB</td>
                        <td class="hidden-xs hidden-sm">{{item.wholesale}} €</td>
                        <td class="hidden-xs hidden-sm">{{item.technicalFee}} €</td>
                        <td class="hidden-xs hidden-sm">{{item.slambyLicenseFee}} €</td>
                        <td>{{item.retailPrice}} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Asian</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="hidden-xs hidden-sm">Tier</th>
                        <th>Core</th>
                        <th>Memory</th>
                        <th class="hidden-xs">Storage</th>
                        <th class="hidden-xs hidden-sm">Wholesale</th>
                        <th class="hidden-xs hidden-sm">Technical Fee</th>
                        <th class="hidden-xs hidden-sm">License Fee</th>
                        <th>Reatil Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pricingAsian">
                        <td>{{item.name}}</td>
                        <td class="hidden-xs hidden-sm">{{item.tier}}</td>
                        <td>{{item.core}}</td>
                        <td>{{item.memory}}</td>
                        <td class="hidden-xs">{{item.storage}}</td>
                        <td class="hidden-xs hidden-sm">{{item.wholesale}} €</td>
                        <td class="hidden-xs hidden-sm">{{item.technicalFee}} €</td>
                        <td class="hidden-xs hidden-sm">{{item.slambyLicenseFee}} €</td>
                        <td>{{item.retailPrice}} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>