mixin table-header
    tr
        th Name
        th Core
        th Memory
        th.hidden-xs Storage
        th.hidden-xs.hiddne-sm Technical fee
        th.hidden-xs.hidden-sm License fee
        th Retail price