include /common.pug

- var partners = [{"name":"Microsoft","logo":"microsoft.png"},{"name":"ICMA","logo":"icma.jpg"},{"name":"Hungarian Tradehouse","logo":"tradehouse.png"},{"name":"Digital Factory","logo":"digital-factory.png"},{"name":"Fiware","logo":"fiware.png"},{"name":"CEU Business School","logo":"ceubs.jpg"},{"name":"CEED Tech","logo":"ceed-tech.png"},{"name":"CE EN","logo":"ce-en.jpg"}]

pm-header
.container
    .row
        .col-md-12
            h1 Partners
            p.lead Creating a better product requires teamwork, partnerships and collaboration. We are grateful to work together with such amazing partners.
    .row
        each item in partners
            .item
                +img(src= "/assets/images/partners/" + item.logo alt= item.name class="img-responsive")