
<!-- Html meta mixin-->
<!-- Link mixin-->
<!-- Script mixin for javascript links-->
<!-- cdn img tag with fallback-->
<pm-header></pm-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Partners</h1>
      <p class="lead">Creating a better product requires teamwork, partnerships and collaboration. We are grateful to work together with such amazing partners.</p>
    </div>
  </div>
  <div class="row">
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/microsoft.png'" src="/assets/images/partners/microsoft.png" alt="Microsoft"/>
    </div>
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/icma.jpg'" src="/assets/images/partners/icma.jpg" alt="ICMA"/>
    </div>
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/tradehouse.png'" src="/assets/images/partners/tradehouse.png" alt="Hungarian Tradehouse"/>
    </div>
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/digital-factory.png'" src="/assets/images/partners/digital-factory.png" alt="Digital Factory"/>
    </div>
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/fiware.png'" src="/assets/images/partners/fiware.png" alt="Fiware"/>
    </div>
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/ceubs.jpg'" src="/assets/images/partners/ceubs.jpg" alt="CEU Business School"/>
    </div>
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/ceed-tech.png'" src="/assets/images/partners/ceed-tech.png" alt="CEED Tech"/>
    </div>
    <div class="item"><img class="img-responsive" onerror="this.onerror=null;this.src='/assets/images/partners/ce-en.jpg'" src="/assets/images/partners/ce-en.jpg" alt="CE EN"/>
    </div>
  </div>
</div>