<div class="container">
    <div class="footer">
        <div class="message">Slamby 2016</div>
        <ul class="links">
            <li><a href="https://github.com/slamby" target="_blank">Github <i class="fa fa-external-link sla-external-link" aria-hidden="true"></i></a></li>
            <li><a href="https://developers.slamby.com" target="_blank">Slamby Developers <i class="fa fa-external-link sla-external-link" aria-hidden="true"></i></a></li>
            <li><a [routerLink]="['/partners']">Partners</a></li>
            <li><a [routerLink]="['/company']">Company</a></li>
            <li><a [routerLink]="['/legal/privacy-policy']">Privacy Policy</a></li>
        </ul>
    </div>
</div>