<!--Newsletter signup form-->
<section class="newsletter-signup-form">
    <div class="container">
        <div class="row">
            <div class="message">
                <div *ngIf="isSentSuccess == 0">Be in the know with the latest and greatest from Slamby.</div>
                <div *ngIf="isSentSuccess == 1">Thank You!</div>
                <div *ngIf="isSentSuccess == 2">You are already signed up!</div>
            </div>
            <div class="input-group form" *ngIf="isSentSuccess == 0">
                <input class="form-control" type="email" required [(ngModel)]="newsLetterDetails.email" name="email" placeholder="E-mail address"/>
                <span class = "input-group-btn">
                    <button class = "btn btn-default" type = "submit" (click)="addSubscriber()">Submit</button>
                </span>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="footer">
        <ul class="links">
            <li><a href="https://github.com/slamby" target="_blank">Github <i class="fa fa-external-link sla-external-link" aria-hidden="true"></i></a></li>
            <li><a href="https://developers.slamby.com" target="_blank">Slamby Developers <i class="fa fa-external-link sla-external-link" aria-hidden="true"></i></a></li>
            <li><a href="http://blog.slamby.com">Blog <i class="fa fa-external-link sla-external-link" aria-hidden="true"></i></a></li>
            <li><a [routerLink]="['/partners']">Partners</a></li>
            <li><a [routerLink]="['/company']">Company</a></li>
            <li><a [routerLink]="['/legal']">Legal</a></li>
        </ul>
        <!--Follow us section-->
        <div class="follow-us">
            <h5>Follow us</h5>
            <ul class="social">
                <li *ngFor="let item of socialLinks">
                    <a href="{{item.link}}"><i class="fa {{item.class}}" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="legal">
            <p>{{year}}. All right reserved - Slamby</p>
        </div>
    </div>
</div>
