.footer {
    text-align:left;
    border-top:1px solid #cacaca;
    padding-top: 25px;
    margin-top: 25px;
    background-color: #FDFDFD;

    ul {
        list-style:none;
        
        .footer-list-header {
            font-size:0.8em;
            font-weight: 600;
        }

        a {
            color:gray;
            font-size:0.75em;
            font-weight: 500;
        }
    }

    ul.socialbar {
        margin: 0;
        li {
            display: inline-block;
            margin-right:0.5em;
        }
    }

    .footer-closing {
        border-top: 1px solid #e3e3e3;
        padding: 5px;
        margin-top: 15px;
        font-style:italic;
        font-size:0.75em;
    }
}