<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <ul>
                    <li class="footer-list-header">About</li>
                    <li><a [routerLink]="['/company']">Company Information</a></li>
                    <li><a [routerLink]="['/company/jobs']">Job Opportunities</a></li>
                    <li><a [routerLink]="['/company/partners']">Partners</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-3">
                <ul>
                    <li class="footer-list-header">Developers</li>
                    <li><a href="https://developers.slamby.com/docs/API">Slamby API</a></li>
                    <li><a href="https://developers.slamby.com/docs/SDK.NET">SDK</a></li>
                    <li><a href="https://developers.slamby.com/docs/TAU">Slamby TAU</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-3"> 
                <ul>
                    <li class="footer-list-header">Contact</li>
                    <!--<li><a href="/company/press">Press</a></li>-->
                    <li><a [routerLink]="['/company/contact']">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <ul class="socialbar">
                    <li>
                        <a href="https://facebook.com/slambynews" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/slambynews" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/slambynews" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/5269921" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Slambynews" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/slambynews/" target="_blank">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 footer-closing">
                <ul>
                    <li>Copyright © {{thisYear}} Slamby. All rights reserved.</li>
                    <li>Read <a [routerLink]="['/legal/privacy']">Privacy</a> or <a [routerLink]="['/legal/terms']">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>