<footer class="footer">
    <div class="container">
        <div class="row">
            <ul>
                <li class="footer-list-header">About</li>
                <li><a [routerLink]="['/company']">Company Information</a></li>
                <li><a [routerLink]="['/company/jobs']">Jobs</a></li>
                <li><a [routerLink]="['/company/partners']">Partners</a></li>
            </ul>
            <ul>
                <li class="footer-list-header">Developers</li>
                <li><a href="https://developers.slamby.com/docs/API">Slamby API</a></li>
                <li><a href="https://developers.slamby.com/docs/SDK.NET">SDK</a></li>
                <li><a href="https://developers.slamby.com/docs/TAU">Slamby TAU</a></li>
            </ul>
            <ul>
                <li class="footer-list-header">Contact</li>
                <!--<li><a href="/company/press">Press</a></li>-->
                <li><a [routerLink]="['/company/contact']">Contact</a></li>
            </ul>
            <ul>
                <li class="footer-list-header"></li>
                <!--<li><a href="/company/press">Press</a></li>-->
                <li class="socialbar">
                    <a href="https://facebook.com/slambynews" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/slambynews" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://instagram.com/slambynews" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/5269921" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://plus.google.com/+Slambynews" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-closing">
            Copyright © {{thisYear}} Slamby. All rights reserved.
        </div>
    </div>
</footer>