<pm-header opacity="25"></pm-header>

<section class="flock">
    <div class="container">
        <div class="main-message">
            <h1>A smart way to work</h1>
            <p class="lead">
                Slamby Insight is a great desktop application to work with your Slamby API. Open the application, connect to your Slamby
                API server and manage the major functions graphically.
            </p>
            <a href="https://insight.slamby.com/" class="btn btn-default btn-lg" target="_self">Download</a>
        </div>
    </div>
</section>
<section class="flock-submenu">
    <div class="container">
        <div class="message">
            <div class="item">
                <div class="box">
                    <div class="image support-your-team"></div>
                </div>
                <h2>Support your team</h2>
                <p class="lead">
                    Manage databases, documents, import processes, create awesome AI features such as category recommendation or matchmaking.
                </p>
                <a href="https://developers.slamby.com/docs/insight">User manual</a>
            </div>
            <div class="item">
                <div class="box">
                    <div class="image multi-platform"></div>
                </div>
                <h2>Multi platform</h2>
                <p class="lead">
                    Insight is available for both Mac, Windows, and Linux. Download and install it easily. Built-in automated update process for new versions.
                </p>
                <div class="insight-download-link-list">
                    <a href="http://insight.slamby.com/download/mac" target="_self">Mac</a>
                    <a href="http://insight.slamby.com/download/windows" target="_self">Windows</a>
                    <a href="http://insight.slamby.com/download/linux" target="_self">Linux</a>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="image open-source"></div>
                </div>
                <h2>Open source</h2>
                <p class="lead">
                    At Slamby we believe in transparency and Open-Source. Slamby Insight is available as an OSS product, available on Github.
                </p>
                <a href="https://github.com/slamby/slamby-insight">Githab page</a>
            </div>
        </div>
    </div>
</section>
