<pm-header></pm-header>

<section class="header">
    <div class="container">
        <div class="message">
            <div class="head">
                <h1>A smart way to work</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam accusamus quia, illo unde voluptate voluptates saepe. Commodi, molestias nihil laudantium officia hic. Hic dignissimos recusandae ullam, error fugit, dolores tempore!
                </p>
                <a href="https://insight.slamby.com" class="btn btn-default" angulartics2On="click" angularticsEvent="Download General" angularticsCategory="Insight" angularticsProperties="{label: 'General'}">Download</a>
                <div class="list">
                    <a href="https://instight.slamby.com/mac">Download for Mac</a>
                    <a href="https://instight.slamby.com/windows">Download for Windows</a>
                    <a href="https://instight.slamby.com/linux">Download for Linux</a>
                </div>
                <div class="github">
                    <a href="https://github.com/slamby/slamby-insight" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <form action="//slamby.us8.list-manage.com/subscribe/post?u=2cc8f967bed26c6531c44c771&amp;id=f805acd7c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
            <div class="form-group">
                <label for="mce-EMAIL">Email Address<span class="asterisk">*</span></label>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
            </div>
            <div class="form-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" angulartics2On="click" angularticsEvent="NewsletterSignUp" angularticsCategory="Marketing">
            </div>
        </form>
    </div>
</section>