<pm-header></pm-header>

<section class="flock">
    <div class="container">
        <div class="main-message">
            <h1>A smart way to work</h1>
            <p class="lead">
                Slamby Insight is a great desktop application to work with your Slamby API. Open the application, connect to your Slamby
                API server and manage the major functions graphically.
            </p>
            <a href="https://insight.slamby.com/" class="btn btn-default btn-lg" target="_self">Download</a>
        </div>
    </div>
</section>
<section class="flock-submenu">
    <div class="container">
        <div class="message">
            <div class="item">
                <div class="image support-your-team"></div>
                <h2>Support your team</h2>
                <p class="lead">
                    Manage databases, documents, import processes, create awesome AI features such as category recommendation or matchmaking. Great for each team member from the system administrators till the project managers.
                </p>
            </div>
            <div class="item">
                <div class="image multi-platform"></div>
                <h2>Multi platform</h2>
                <p class="lead">
                    Insight is available for both Mac, Windows, and Linux. Download and install it easily. Built-in automated update process for new versions.
                </p>
                <div class="insight-download-link-list">
                    <a href="http://insight.slamby.com/download/mac" target="_self">Mac</a>
                    <a href="http://insight.slamby.com/download/windows" target="_self">Windows</a>
                    <a href="http://insight.slamby.com/download/linux" target="_self">Linux</a>
                </div>
            </div>
            <div class="item">
                <div class="image open-source"></div>
                <h2>Open source</h2>
                <p class="lead">
                    At Slamby we believe in transparency and Open-Source. Slamby Insight is available as an OSS product, available on Github. For the latest development or participating in the development - check our repository.
                </p>
            </div>
        </div>
    </div>
</section>

<!--<section class="header">
    <div class="container">
        <div class="message">
            <div class="head">
                <h1>Slamby Insight <br> <span>A smart way to work</span></h1>
                <p class="lead">
                    Slamby Insight is a great desktop application to work with your Slamby API. Open the application, connect to your Slamby API server and manage the major functions graphically.
                </p>
                <a href="https://developers.slamby.com/docs/Insight" class="btn btn-default btn-lg">User Manual</a>
                <a href="https://insight.slamby.com/" class="btn btn-default btn-lg">Download</a>
            </div>
        </div>
    </div>
</section>

<section class="roll">
    <div class="container">
        <div class="row">
            <div class="box work">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </div>
            <div class="box">
                <h2>Support your team</h2>
                <p class="lead">
                    Manage databases, documents, import processes, create awesome AI features such as category recommendation or matchmaking. Great for each team member from the system administrators till the project managers.
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="roll">
    <div class="container">
        <div class="row">
            <div class="box">
                <h2>Open-Source</h2>
                <p class="lead">
                    At Slamby we believe in transparency and Open-Source. Slamby Insight is available as an OSS product, available on Github. For the latest development or participating in the development - check our repository.
                </p>
                <a href="https://github.com/slamby/slamby-insight" class="btn btn-default">Check it on Github</a>
            </div>
            <div class="box git">
                <i class="fa fa-github" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="roll">
    <div class="container">
        <div class="row">
            <div class="box multi-platform">
                <i class="fa fa-windows" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
                <i class="fa fa-linux" aria-hidden="true"></i>
            </div>
            <div class="box">
                <h2>Multi Platform</h2>
                <p class="lead">
                    Insight is available for both Mac, Windows, and Linux. Download and install it easily. Built-in automated update process for new versions.
                </p>
                <div class="list">
                    <a href="http://insight.slamby.com/download/mac">Download for Mac</a>
                    <a href="http://insight.slamby.com/download/windows">Download for Windows</a>
                    <a href="http://insight.slamby.com/download/linux">Download for Linux</a>
                </div>
            </div>
        </div>
    </div>
</section>-->