<style>
    #team-header {
        background: linear-gradient( rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5) ), url('./app/assets/images/company/team.jpg');
        background-size:cover;
        margin-top:-30px;
        color:white;
    }

    #team-header p.lead{
        color: white !important;
        font-size: 35px; 
    }

    #team-header h1 {
        font-size: 70px;
    }

    blockquote footer {
        padding-top:1%;
    }
</style>

<section id="team-header">
    <div class="container">
        <div class="wrapper" style="position: relative; margin-top:60%; margin-bottom:-60%;">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="page-header">
                    <h1>Hi,<br />We are Slamby</h1>
                    <p class="lead">Hard work, great team, gorgeous vision.<br />Bulding the best data management products from the heart.</p>
                </div>
            </div>
        </div>
        <div class="visible-lg-block" style="height:650px"></div>
        <div class="visible-md-block" style="height:650px"></div>
        <div class="visible-sm-block visible-xs-block" style="height:350px"></div>
    </div>
</section>

<section>
    <div class="container">
        <div class="wrapper">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="page-header">Our Vision</h1>
                <p class="lead">We are passionate in creating the best data processing solutions. Following our vision we are working to become the biggest data processing center.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="wrapper">
            <div class="col-xs-10 col-xs-offset-1">
                <h2 class="page-header">From the begining</h2>
                <p class="lead">Slamby was started in 2011,<br />and legally corporated in 11th October 2013.</p>
                <p class="lead">Our first vision was to build a sophisticated, smart technology that by reading and understanding written text - can protect children from adult online content. Building the first machine-learning technology Slamby realized its capability to extend its market, providing sophisticated data-processing solutions for industrial clients.</p>
                <p class="lead">In 2013 Slamby continued its RnD activity and built several products to international companies.</p>
                <p class="lead">In 2014 Slamby released its first machine learning solution for e-commerce market, it was called Slamby Classifier - the first trully language independent classification engine with high accuracy level.</p>
                <p class="lead">In 2015 Slamby became a significant global data processing solution provider, serving clients over 9 countries.</p>
                <p class="lead">In 2016 Slamby continued its expansion with increased RnD activity & product development. We changed our product development strategy, transforming our products into open-source, providing a wide range of free solutions that make us even better. Insted of providing a shared solution, we continue our developments creating the best persionalized, dedicated data processing servers serving both cloud and on-premise client needs.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="wrapper">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="page-header">Join Us</h1>
                <p class="lead">We are looking for passionate talents. If you would join us, please check our current opened positions, or schedule an appointment to meet the Team.</p>
                <a class="btn btn-default" [routerLink]="['/company/jobs']">Check the opened positions</a>
            </div>
        </div>
    </div>
</section>