<section>
    <div class="container">
        <div class="wrapper">
            <div class="page-header">
                <h1>Job Opportunities</h1>
                <p class="lead">
                    We are looking for great talents.<br />
                    If you are interested in the following positions,<br />please send your CV to <abbr title="Slamby Jobs Email address. Please send your CV to here."><a href="mailto:jobs@slamby.com">jobs@slamby.com</a></abbr>
                </p>
                <span>Check our available positions</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="wrapper">
            <div class="col-xs-8 col-xs-offset-2">
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th>Position Name</th>
                            <th>Location</th>
                            <th>Date Posted</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let item of jobs">
                                <td id="{{item.slug}}"><a [routerLink]="['/company/jobs/' + item.id]">{{item.title.rendered}}</a></td>
                                <td>Debrecen, Hungary</td>
                                <td>{{item.date}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
    </div>
</section>

<section>
    <div class="container">
        <div class="wrapper">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Life at Slamby</h1>
                <p class="lead">We love what & how we do as one team, one spirit and one goal that bind us together.</p>
            </div>
        </div>
        <div class="wrapper">
            <div *ngFor="let person of team" class="col-sm-3">
                <img src="./app/assets/images/team/{{person.image}}.png" class="img-responsive" alt="Slamby Team - {{person.name}}"/>
                <div>{{person.name}}</div>
                <div><i>{{person.position}}</i></div>
                <div><a href="mailto:{{person.email}}">{{person.email}}</a></div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li *ngFor="let person of team; let i = index; let isFirst = first" data-target="#carousel-example-generic" [attr.data-slide-to]="i" [class.active]="isFirst"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div *ngFor="let person of team; let isFirst = first" class="item" [class.active]="isFirst">
                    <img src="./app/assets/images/team/quotes/{{person.image}}.png" alt="..."/>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
            </div>
    </div>
</section>