doctype html
html
    head(lang="en")
        title Hello World
        base(href="/")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:url" content="https://www.slamby.com")
        // ...
    body
        pm-app
            section
                .container
                    .row
                        .col-xs-12.text-center
                            p loading