include /common.pug

doctype html
html
    head(lang="en")
        script
            include gtm.js
        title Slamby - Understanding data made simple
        base(href="/" target="_blank")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        +meta("og:url","https://www.slamby.com")
        +meta("og:title","Slamby")
        +meta("description","Slamby is a great tool for classifieds to do  perfect machine learning. Category recommendation, keyword-extraction, duplicate search, matchmaking. Open-source, SaaS, on-premise install.")
        +meta("og:description","Slamby is a great tool for classifieds to do perfect machine learning. Category recommendation, keyword-extraction, duplicate search, matchmaking. Open-source, SaaS, on-premise install.")
        +meta("og:image","/build/slamby-logo.png")
        +meta("og:image:secure_url","/build/slamby-logo.png")
        +link("icon","image/png","/build/favicon.png")
        +link("stylesheet","text/css","/build/site.css")
        +link("stylesheet","text/css","https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-MT2PSG2" height="0" width="0" style="display:none;visibility:hidden")
        pm-app
            section.init
                .container
                    .row
                        .col-xs-12.text-center
                            p
                                span.init-logo Slamby
                            p Loading

        +script('/build/zone.js')
        +script('/build/Reflect.js')
        +script('/build/es6-shim.js')
        +script('/build/bundle.min.js')