@import "~bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~common.scss";

$light-grey: #F0B8C1;

html,body {
    @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,400,500');
    font-family: 'Libre Franklin', sans-serif;
    -webkit-overflow-scrolling: touch;
}

// Line heights;
h1 {line-height: 47px;}
h2 {line-height: 35px;}

h1,h2,h3,h4 {
    margin-bottom: 30px;
}

h1 {font-weight: 200;}
h2,h3,h4 {
    font-weight: 300;
}

p {
    font-weight: 200;
}

p.lead {
    font-weight: 100;
}

.table {
    thead {
        th {
            font-weight: 400;
        }
    }
    td {
        font-weight: 300;
    }
}

@font-face {
    font-family: slamby-logo;
    src: url('assets/fonts/slamby-logo.woff');
}

section.init {
    margin-top:10%;
    .init-logo {
        font-family: slamby-logo;
        font-size: 30px !important;
    }
}