@import '~common.scss';

section.header {
    @include background-image('assets/images/home/header.jpg');
    margin-top:-50px;

    .message {
        @include make-row();
        padding-bottom:5em;
        .head {
            @include make-md-column(6);
            margin-top:10em;
            margin-bottom:5em;
            h1 {
                color: white;
                font-size: 50px;
            }

            p.lead {
                color: white;
            }

            a.btn-default {
                background-color: transparent !important;
                border-color: white;
                color: white;
            }

            a.btn-default:hover {
                border-color: rgba(255,255,255,.7);
            }

            .list {
                margin-top:15px;
                a {
                    display: inline-block;
                    color: white;
                }
                a:not(:last-of-type){
                    margin-right: 15px;
                }
            }

            .github {
                margin-top:70px;
                i {
                    color: white;
                    font-size:50px;
                }
            }
        }
        .signup-form {
            @include make-md-column(4);
            @include make-md-column-offset(1);
            margin-top:10em;
            color:white;
            
            .email {
                @include make-xs-column(12);
            }

            .firstname, .lastname {
                @include make-xs-column(6);
                margin-top: 10px;
            }

            .firstname { padding-right: 5px; }
            .lastname { padding-left: 5px; }

            .org, .btnform {
                @include make-xs-column(12);
                margin-top: 10px;
            }

            p.message {
                text-align: center;
            }
        }
    }
}

.customers {
    margin-top:30px;
    .holder {
        @include make-row();
        .item {
            @include make-sm-column(4);
            @include make-xs-column(12);
            min-height: 150px;
        }

        .img {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            margin: auto;
            height: 30%;
            display: inline-block;
        }

        .jofogas {
            // content: url('assets/images/home/jofogas.jpg');
            background: url('assets/images/home/jofogas.jpg') center no-repeat;
            background-size: contain;
        }
        .schibsted {
            background: url('assets/images/home/schibsted.png') center no-repeat;
            background-size: contain;
        }
        .lazada {
            background: url('assets/images/home/lazada.png') center no-repeat;
            background-size: contain;
        }
    }
}

section.who-we-are {
    text-align: center;
    background-color: #f5f5f5;
    color: #444;

    .message {
        @include make-sm-column(8);
        @include make-sm-column-offset(2);

        margin: 70px;

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
        }
    }
}
