include /common.pug

pm-header

section.header
    .container
        .message
            .head
                h1 Smart machine learning for classifieds
                //- p.lead
                //-     a.btn.btn-default((click)="Create()") Demo
                p.lead
                    | Slamby is a great tool for classifieds to do perfect machine learning. Category recommendation, keyword-extraction, duplicate search, matchmaking.
                p.lead
                    | Open-source, SaaS, on-premise install.
            .signup-form
                h2 Get more information
                form(action="//slamby.us8.list-manage.com/subscribe/post?u=2cc8f967bed26c6531c44c771&amp;id=74a478b46d" method="post" id="mc-embedded-subscribe-form",name="mc-embedded-subscribe-form").validate.form
                    .form-group
                        input(type="email" required value="" name="EMAIL" 
                                placeholder="E-mail address" angulartics2On="click" angularticsCategory="home-page" angularticsEvent="newsletter-emailField-clicked").form-control#mce-EMAIL
                    .form-group
                        input(type="text" required value="" name="FNAME" 
                                placeholder="First name").form-control#mce-FNAME
                    .form-group
                        input(type="text" required value="" placeholder="Last name").form-control#mce-LNAME
                    .form-group
                        input(type="submit" required value="Get more        information" angulartics2On="click" angularticsCategory="Marketing" angularticsEvent="NewsletterSignUp-clicked").btn.btn-default.form-control
section.customers
    .container
        .holder
            .item.jofogas
            .item.schibsted
            .item.lazada