<div class="container">
    <div class="col-md-12">
        <h1>Getting started</h1>
        <p>Thank you for using Slamby. We hope you will love what we do. We would like to help your work and make it smoother, so please check this tutorial and get a quick overview of our products.<p>
        <p>In this short tutorial, we are going to show you how to use our Slamby API, Slamby Insight desktop application, which SDKs we provide and where you can find the full product documentation.</p>

        <h2>Install API server</h2>
        <p>You can use your Slamby API as a SaaS, or you can download, and host is by yourself. When you want to host it by yourself, the first thing you need to manage is the installation. To install Slamby API, please check the product readme and the installation guide.</p>
        <p>Product documentation: <a href="https://github.com/slamby/slamby-api" target="_blank">https://github.com/slamby/slamby-api</a></p>
        <p>Using Docker Compose, here are the installation steps:
            <ol>
                <li>Install Docker on your machine: [Official Docker installation guide](https://docs.docker.com/engine/installation)</li>
                <li>Install Docker Compose on your machine (minimum 1.9.0 required): [Official Docker Compose installation guide](https://docs.docker.com/compose/install)</li>
                <li>Download our Docker Compose file</li>
                <li>...</li>
            </ol>
        </p>
        <h2>API setup</h2>
        <p>Great, you have a working Slamby API. Now your first step is the setup process.<br>
            During the setup process you need to:
            <ul>
                <li>Request a Slamby License,</li>
                <li>Copy your Slamby API License,</li>
                <li>and set the secret (password) for your Slamby API.</li>
            </ul>
        </p>
        <p><i>License</i><br>
        For open-source projects, you can use an `open-source license` for free, or for commercial purpose you can use a commercial license.</p>
        <p>For open-source license, your can request one from the setup wizard directly by typing your e-mail address and click the `Request a License` button. Our license service will generate an open-sourced license for you and will send it via email to the given email address.</p>
        <p>When your product or company is not open-sourced you cannot use Slamby API with open-source license; you need to purchase a `commercial license`. The pricing is based on the processor core number.</p>
        <p>For pricing details, please check our pricing [https://www.slamby.com](https://www.slamby.com)</p>
        <p>For purchasing a commercial license contact our [sales@slamby.com](mailto:sales@slamby.com)</p>
        <p><i>API secret</i><br>
            Image</p>
        <h2>Using Slamby Insight to manage your API</h2>
        <p>For you Slamby API we have an excellent desktop application that makes the management jobs smoother, faster and easier. You can download it from [https://insight.slamby.com/download](https://insight.slamby.com/download).</p>
        <p>For more information about how to use Insight check the online tutorial here: [https://developers.slamby.com/docs/Insight/](https://developers.slamby.com/docs/Insight/)</p>
        <h2>Integration (SDKs)</h2>
        <p>Now you have a working Slamby API, but how can you integrate it into your business processes? Slamby API has a very detailed Rest API that you can easily manage. For the full API documentation, please check the API developers page here: [https://developers.slamby.com/docs/API/](https://developers.slamby.com/docs/API/)</p>
        <p><i>A lovely gift from Slamby`</i><br>
        We would like to make your job easier; that's why we work on five different SDKs. Please check the available versions, sources, and the readmes.
        </p>
        <p>
        SDK Name | Download link and readme
        --- | ---
        .Net | [https://github.com/slamby/slamby-sdk-net](https://github.com/slamby/slamby-sdk-net)
        JavaScript | [https://github.com/slamby/slamby-sdk-javascript](https://github.com/slamby/slamby-sdk-javascript)
        Python | [https://github.com/slamby/slamby-sdk-python](https://github.com/slamby/slamby-sdk-python)
        PHP | [https://github.com/slamby/slamby-sdk-php](https://github.com/slamby/slamby-sdk-php)
        Angular 2 | [https://github.com/slamby/slamby-sdk-angular2](https://github.com/slamby/slamby-sdk-angular2)
        </p>
        <h2>Product documentation</h2>
        <p>Here we go, all the Slamby products are now installed. But how can you use them? When you do an API Rest integration, or you need to know specific settings, then please check the API documentation on our developer site: [https://developers.slamby.com/docs/API](https://developers.slamby.com/docs/API),<br>
        or, check the other products documentation as well [https://developers.slamby.com](https://developers.slamby.com)</p>
        <h2>Support</h2>
        <p>Slamby support mailing list for basic support: [https://groups.google.com/forum/#!forum/slamby](https://groups.google.com/forum/#!forum/slamby)</p>
        <p>Each Slamby license covers a `basic support` with absolutely no SLA. This means you can access our support via our online support mailing list and you can ask for help from our community. In this case, the reaction time is not guaranteed, and there is no direct access to our technical experts.</p>
        <p>When you need a `professional support`, please purchase one. Each professional support contains short-time SLAs and response time. Each professional support gives you direct access to our technical experts.</p>
        <p>For more details, please check our available support options here: [https://www.slamby.com](https://www.slamby.com)</p>
        <p>And contact our sales for more information: [sales@slamby.com](mailto:sales@slamby.com)</p>
    </div>
</div>